[Unit]
Description= Run display.py at boot
After=network.target

[Service]
ExecStart=/home/multiplane/MultiPlaneDisplay/venv/bin/python /home/multiplane/MultiPlaneDisplay/display.py
WorkingDirectory=/home/multiplane/MultiPlaneDisplay
StandardOutput=inherit
StandardError=inherit
Restart=no

[Install]
WantedBy=multi-user.target